<%- include("partials/header") -%>

<div class="banks-page">
  <div class="bank-div">
    <div class="bank-heading">
      <h1 class=""><u><b>Partner Banks</b></u></h1>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a href="https://www.onlinesbi.com/"><img class="bank-img" src="https://130e178e8f8ba617604b-8aedd782b7d22cfe0d1146da69a52436.ssl.cf1.rackcdn.com/sbi-investigates-reported-massive-data-leak-showcase_image-2-a-11986.jpg" alt="SBI"></a>
      </div>
      <div class="col-lg-6">
        <a href="https://www.hdfcbank.com/"><img class="bank-img" src="images/hdfc.jpeg" alt="HDFC"></a>
      </div>
      <div class="col-lg-6">
        <a href="https://www.axisbank.com/"><img class="bank-img" src="images/axis.jpeg" alt="axis"></a>
      </div>
      <div class="col-lg-6">
        <a href="https://www.icicibank.com/"><img class="bank-img" src="https://www.icicibank.com/managed-assets/logos/personal.jpg" alt="icic"></a>
      </div>
      <div class="col-lg-6">
        <a href="https://www.icicibank.com/"><img class="bank-img" src="images/unios.jpeg" alt="icic"></a>
      </div>
    </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
